@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

/*---------------- section trust ---------------------- */
.trust-card {
  border-left: 6px solid #ff6900;
}

.trust-card:nth-child(2) {
  border-left: 6px solid #00c950;
}
.trust-card:nth-child(3) {
  border-left: 6px solid #615fff;
}
.trust-card:nth-child(4) {
  border-left: 6px solid #fdc700;
}

@keyframes shimmer {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
@keyframes checkPop {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*  footer style ------- */
.footer-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}
.footer-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  background: #6366f1;
  transition: width 0.3s ease;
}
.footer-link:hover::after {
  width: 100%;
}
.social-btn {
  transition: all 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.social-btn:hover {
  transform: translateY(-4px) scale(1.1);
  color: #818cf8 !important;
  background: #ffff !important;
  border-color: #6366f1 !important;
}
.trust-card {
  transition: all 0.2s ease;
}

.trust-card:hover .trust-icon {
  color: #6366f1 !important;
}
.app-btn {
  transition: all 0.2s ease;
}
.sub-input:focus {
  border-color: #6366f1 !important;
  outline: none;
}
